@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.second-half {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: -1;
}

.bottom-half {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

#services {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.services {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 1rem;
}

.service {
    border-radius: 1.25rem;
    background: #11042F;
    color: white;
    padding: 1rem;
    flex: 1;
    margin: 1rem;
    text-align: center;
    position: relative;
    max-width: 350px;
}

.servicetop {
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%);
}

.service hr {
    border: 1px solid rgba(64, 64, 71, 1);
    width: 90%;
}

.service h2 {
    font-size: 1.5rem;
    margin: 1rem 0;
    margin-top: 3rem;
}

.points {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    margin: 0.5rem 1rem;
    flex-direction: column;
}

.point {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0.3rem 0;
    width: 100%;
}

.point img {
    width: 1.5rem;
    margin-right: 1rem;
}

.btn button {
    border-radius: 0.3125rem;
    background: linear-gradient(93deg, #FF9898 0.48%, #8054FF 100%);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin: 1rem;
    transition: 0.3s;
}

.btn button:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 768px) {

    .services {
        margin: 7rem 0;
        flex-direction: column;
    }

    .service {
        width: 80%;
        margin: 2rem auto;
    }
}