#contact {
    background: url('/src/assets/bg.png');
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
    min-height: 100vh;
    max-height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: #ececec;
    text-align: center;
}

#contact h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

#contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}

#contact form input,
textarea {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem;
    border: none;
    border-radius: 5px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.socials {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.social button {
    flex: 1;
    background: linear-gradient(93deg, #FF9898 0.48%, #8054FF 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    margin: 0.5rem;
    cursor: pointer;
    flex: 1;
    transition: 0.4s ease all;
    width: 90%;
}

button:hover {
    animation: yes 0.5s;
}

@keyframes yes {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.social a {
    width: 40%;
    margin: 0;
    text-decoration: none;
}

.social button img {
    width: 40px;
    height: 40px;
    margin-right: 0.5rem;
}

.social p {
    font-size: 1.2rem;
    margin: 0;
}

form {
    width: 100%;
    margin: 0 auto;
}

form button {
    background: linear-gradient(93deg, #FF9898 0.48%, #8054FF 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 1rem 1.2rem;
    border: none;
    border-radius: 5px;
    margin: 0.5rem;
    cursor: pointer;
    flex: 1;
    transition: 0.4s ease all;
}

input,
textarea {
    padding: 0.7rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    color: #fff;
    background: linear-gradient(93deg, #FF9898 0.48%, #8054FF 100%);
}