@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #080216;
    color: #ececec;
    height: 10vh;
    bottom: 0;
    left: 0;
    position: static;
    font-family: 'Montserrat', sans-serif;
}